/* styles.css */

/* Universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header, Footer, and Grid Combination Styles */
header, footer, .grid {
    margin: 0 auto;
    max-width: 840px;
}

/* Navigation styles */
nav {
    background-color: steelblue;
    padding: 10px;
    display: flex; /* Use Flexbox for navigation */
    justify-content: space-evenly; /* Evenly space out the links */
    align-items: center; /* Center items vertically */
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none; /* Ensure no underline on links */
    font-size: 1.2rem; /* Adjust font size */
    font-weight: 700; /* Adjust font weight */
}

/* Heading styles */
h1 {
    color: steelblue;
    border-bottom: 1px solid #ccc; /* Add bottom border */
}

/* Image styles */
img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Paragraph styles */
p {
    padding: 10px 0; /* Ensure padding is 10px on top and bottom */
}

/* Main styles */
main {
    margin: 1rem; /* Adjust margin */
}

main img {
    width: 150px;
    height: auto;
    float: right; /* Float to the right */
}

/* Aside styles */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative; /* Position set to relative */
}

aside img {
    width: 200px; /* Set width to 200px */
    height: auto;
}

/* Overlay state/country heading on image */
aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

/* Footer styles */
footer {
    margin-top: 15px; /* Add top margin */
    border-top: 1px solid #000; /* Add top border */
    text-align: center; /* Align text to center */
}

/* Class Selectors */
/* Box class styling */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

/* Grid container styling */
.grid {
    display: grid;
    grid-template-columns: 20rem 1fr; /* Define column widths */
    gap: 1rem; /* Add space between grid items */
    align-items: center; /* Align items to the center */
}
